.body {
    color: #E5E5E5;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}
.web {
    color:#2196F3
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}

.studio {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #000000;
}
.logo 
{
 text-decoration: none;   
}
.main_section {
    background-color: #2F303A; 
}

    h1.main_section 
{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:#FFFFFF
}
p.main_section
{
    
}